<div class="container inquiry-size pt-5">
    <div class="mb-3">
        <label for="emailFormControlInput" class="form-label text-white">Email Address</label>
        <input type="email" class="form-control" id="emailFormControlInput" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="inquiryFormControlTextArea" class="form-label text-white">Text</label>
        <textarea class="form-control" id="inquiryFormControlTextArea" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

